.footer
  .footer__block
    .footer__section
      ul.footer__lists
        li.footer__heading
          h6 Find us here
          li
            a(href="#") 
                img(src="../fb.png", alt="facebook", style="width: 12px;")
            a(href="#") 
                img(src="../google.png", alt="google+", style="width: 12px;")
            a(href="#") 
                img(src="../twitter.png", alt="twitter", style="width: 12px;")
            a(href="#") 
                img(src="../linkedin.png", alt="linkedin", style="width: 12px;")
      ul.footer__lists
        li.footer__heading 
          h6 Contact with us
        li
          p.footer__content Nullam viverra consectetuer
            br
            | quisque cursus et, porttitor risus.
            p.footer__content +61 (0) 3 8376 6284
            p.footer__content noreply@cursus.com
      ul.footer__lists
        li.footer__heading 
          h6 Localization
        li
          address.footer__content Nullam
            br
            | Level 13, 2 Elizabeth
            br
            | Victoria 3000
            br
            | Australia
    .footer__copyright
      | &copy 2019 Nullam viverra consectet. All Rights Reserved.
      a(href="#navbar").footer__arrow &#94