.footer{
    background-color: #ecebe9;
    &__section{
        max-width:1000px;
        margin:auto;
        display: flex;
        justify-content: space-around;
        padding-top: 150px;
    }
    &__lists{
        
        list-style-type: none;
    }







}