.footer{
    background-color: #ecebe9;
    &__block{
        max-width:700px;
        margin:auto; 
        font-size: 10px;
    }
    &__section{
        max-width:800px;
        margin:auto;
        display: flex;
        justify-content: space-around;
        padding-top: 150px;
    }
    &__lists{
        
        list-style-type: none;
    }
    &__heading{
        padding-bottom: 15px;
    }
    &__arrow{
        color: #2b2a27 !important;
        font-size: 25px;
        font-weight: 200;
        padding-left: 215px;
        text-decoration: none !important
    }

    @media (max-width: 767px) {
        &__section {
          padding-top: 10px;
        }
        &__lists{
            padding: 4px;
        }
        &__arrow{
            padding:0;
        }
    }
}