.footer
  .footer__section
    ul.footer__lists
      li.footer__heading
        h4 Find us here
      li 1
      li 2
      li 3
    ul.footer__lists
      li.footer__heading 
        h4 Contact with us
      li
        p.footer__content Nullam viverra consectetuer
          br
          | quisque cursus et, porttitor risus.
          p.footer__content +61 (0) 3 8376 6284
          p.footer__content noreply@cursus.com
    ul.footer__lists
      li.footer__heading 
        h4 Localization
      li
        address.footer__content Nullam
          br
          | Level 13, 2 Elizabeth
          br
          | Victoria 3000
          br
          | Australia
  .footer__copyright
    | &copy 2019 Nullam viverra consectet. All Rights Reserved.