.media
    ul
        li
            a(href="#100")
                img(src="https://lh3.googleusercontent.com/TvtNwwpGaTmSHyMVpJAYnj9Ebw5WjGPAVqeFRUgXUB4xPASAr9Cp_p5j4Z3_5HikqlQ=w300", alt="",width="30px",height="30px")
        li
            a(href="#150")
                img(src="https://icon-library.net/images/white-email-icon-png/white-email-icon-png-29.jpg", alt="",width="30px",height="30px")
        li
            a(href="#130")
                img(src="https://image.flaticon.com/icons/png/512/124/124010.png", alt="",width="30px",height="30px")
        li
            a(href="#102")
                img(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png", alt="",width="30px",height="30px")
        li
            a(href="#130")
                img(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-512.png", alt="",width="30px",height="30px")
        //li
            a(href="")
                img(src="./TwitterLogo.png", alt="",width="30px",height="30px")