.portfolio
    h1 Our realizations
    .portfolio__section
        .portfolio__container
            .portfolio__pic1
                img.portfolio__img(src="../gridimg1.jpg",alt="#10")
            .portfolio__pic2
                img.portfolio__img(src="../gridimg2.jpg",alt="#11")
            .portfolio__pic3
                img.portfolio__img(src="../gridimg3.jpg",alt="#12")
            .portfolio__pic4
                img.portfolio__img(src="../gridimg4.jpg",alt="#13")
            .portfolio__pic5
                img.portfolio__img(src="../gridimg5.jpg",alt="#14")
            .portfolio__pic6
                img.portfolio__img(src="../gridimg6.jpg",alt="#15")
            .portfolio__pic7
                img.portfolio__img(src="../gridimg7.jpg",alt="#16")
    a.portfolio__link(href='') Check out more projects