.vision.container-fluid
    .row.vision__column
        .col-lg-6.col-md-6.vision__writing
          .vision__text
            h4.vision__para Let's sit down
              br
              | and talk about
              br
              | your vision.
            a.vision__link(href="#") contact with us
        .col-lg-6.col-md-6.vision__image
            img.img-fluid.vision__img(src="../container.jpg")
