#carouselExampleIndicators.carousel.slide(data-ride='carousel')
  ol.carousel-indicators.carousel__indicators
    li.carousel__list.active(data-target='#carouselExampleIndicators' data-slide-to='0') 01
    li.carousel__list(data-target='#carouselExampleIndicators' data-slide-to='1') 02 
    li.carousel__list(data-target='#carouselExampleIndicators' data-slide-to='2') 
      a.carousel__number(href="#") 03 
  .carousel-inner.carousel__inner
    .carousel-item.active.carousel__item
      img.d-block.w-100.carousel__img(src='../hero1.jpg' alt='First slide')
      .carousel-caption.d-none.d-md-block
        h1 A fresh vision
          br
          | for living spaces
    .carousel-item.carousel__item
      img.d-block.w-100.carousel__img(src='../hero2.jpg' alt='Second slide')
      .carousel-caption.d-none.d-md-block
        h5 ...
        p ...
    .carousel-item.carousel__item
      img.d-block.w-100.carousel__img(src='../hero3.jpg' alt='Third slide.')



