.plan{
    d//isplay: flex;

    .plan-ways{
        display: flex;
    }


    .img{
        size: cover;
    }


    .container.row.art-grid.align-items.center{
        position: relative;
        left: 200px;

    }

}