#navbar.nav.navbar.navbar-expand-md.navbar-dark.bg-light.px-3
  a.navbar-brand.navbar__brand(href='#')
    span(style="font-size:36px;") T
    span(style="font-size:20px;") he
    br
    span(style="font-size:40px;") A
    span(style="font-size:30px;") rchitect
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.mx-auto.justify-content-end
    ul.navbar-nav
      li.nav-item.px-3
        a.nav-link(href='#') Home
      li.nav-item.px-3
        a.nav-link(href='#') Projects
      li.nav-item.px-3
        a.nav-link(href='#') Details 
      li.nav-item.px-3
        a.nav-link(href='#') Story
      li.nav-item.px-3
        a.nav-link(href='#') Contact
      li.nav-item.active.px-3
        a.nav-link(href='#')
          |Buy now 
          
      
  