.article1{
    text-align: center;
    padding: 70px 25px;
    article{
        max-width: 730px;
        margin: auto;
       h1{
        font-weight: 500;
        font-size: 2.3rem;
        letter-spacing: 1px;
       }
       p{
           font-size: 1.3rem;
           line-height: 1.7;
           font-weight: 300;
       }

    }

}


.article2{
    text-align: center;
    padding: 100px 50px;
    article{
        max-width: 930px;
        margin: auto;
        h1{
         font-size: 2.3rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 1.7;
            padding-bottom: 20px;
        }
        a{  margin-top: 20px;
            text-decoration: none;
            font-weight: bolder;
            color: black;
            border: 1px solid black;
            padding: 10px;
            font-size: 1.2rem;
        }
 
     }
}

@media (max-width: 1000px) {
    .article2{
        padding: 15px 17px;
            article{
                h1{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.1rem;

                }
                a{
                    font-size: 1rem;
                }
            }
        }

        .article1{
            padding: 15px 17px;
            article{
                h1{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.1rem;
                }
            }
        }
}
