
.img-fluid{
background: url("https://www.americanfunds.com/content/dam/cgc/shared-content/images/banners/mother-holding-baby-cooing-with-aperture-banner-3.jpg") no-repeat; 
background-size: cover; 
background-position:right center;
background-repeat: no-repeat;
width: 100%;
height: auto;  
}
.jumbotron {
padding-top: 5% !important;
padding-bottom: 10% !important;
margin-bottom: 0px;
h1{
  font-size: 2.1rem;
  line-height: 1.32;
}
p{
  font-size: 1.5rem;
  line-height: 1.32;
}
h2{
  font-size: 2rem;
}
&__writing{
  width: 45vw;
  height: 20vw;
  position: absolute;
  top: 10vw;
  left: 140px;
}
.banner{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

article{
  width: 45vw;
  height: 20vw;
  font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 520;
  
}
}


@media (max-width: 1050px) { 
.img-fluid{
background: url("https://www.americanfunds.com/content/dam/cgc/shared-content/images/banners/mother-holding-baby-cooing-with-mobile-version.jpg") no-repeat; 
background-size: cover; 
background-position: center center;
padding-top: 40%;
}
}

@media (max-width: 574px) {
.img-fluid{
background-image: url("https://www.americanfunds.com/content/dam/cgc/shared-content/images/banners/mother-holding-baby-cooing-banner-portrait.jpg") no-repeat !important;
background-position: center top;
}

.jumbotron {

.title{
font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
font-size: 18px;
font-weight: 500 !important;

}
.banner {
  background: rgba(255,255,255,.8);
  text-align: center;
  display: block;
  height: auto;
  width: auto;
  padding: 30px 20px;

}

}
.lead{
  font-size: 14px !important;
}
}