.jumbotron.img-fluid
  article.banner
    h1.title Can I put him through college without a mountain of debt?
    p.lead
      | With CollegeAmerica
      sup &reg;
      |  from Capital Group,
      br
      |  the nation&rsquo;s largest 529 education savings plan.
    h2.title I can.