extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="accordionpage.css")

block pageTitle
    title Capital group

block content
    .container-fullwidth
        //include ../../components/stickynav/stickynav.pug
        include ../../components/smallnav/smallnav.pug
        //include ../../components/bignav/bignav.pug
        include ../../components/breadcrumb/breadcrumb.pug
        include ../../components/hero/hero.pug
        include ../../components/medialinks/medialinks.pug
        include ../../components/sticky/sticky.pug
        include ../../components/article/article1.pug
        include ../../components/carousel/carousel.pug
        include ../../components/plan/plan.pug
        include ../../components/choose/choose.pug
        include ../../components/article/article2.pug
        include ../../components/footer/footer.pug
        

        

 
block pageScripts
    script(src="accordionpage.js")

