extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="accordionpage.css")

block pageTitle
    title Capital group

block content
    .container-fullwidth


        

 
block pageScripts
    script(src="accordionpage.js")

