extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="stickynavpage.css")


block pageTitle
    title Sticky Nav Page

block content
    .container-fullwidth
        
        //include ../../components/archfooter/archfooter.pug
        include ../../components/archheader/archheader.pug
        //include ../../components/archhero/archhero.pug
        include ../../components/archtestimony/archtestimony.pug
       





        

block pageScripts
    script(src="stickynavpage.js")


