extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="stickynavpage.css")


block pageTitle
    title Sticky Nav Page

block content
    .container-fullwidth
        
        //include ../../components/stickynav/stickynav.pug
        //include ../../components/bignav/bignav.pug
        include ../../components/smallnav/smallnav.pug
        include ../../components/breadcrumb/breadcrumb.pug
        //include ../../components/plan/plan.pug
        //include ../../components/footer/footer.pug
        //include ../../components/article/article1.pug
        //include ../../components/article/article2.pug
        //include ../../components/carousel/carousel.pug
        include ../../components/plan/plan.pug
        include ../../components/choose/choose.pug
       





        

block pageScripts
    script(src="stickynavpage.js")


