extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="stickynavpage.css")


block pageTitle
    title Sticky Nav Page

block content
    .container-fullwidth
        
        include ../../components/stickynav/stickynav.pug
        include ../../components/bignav/bignav.pug
       
        .forScroll

block pageScripts
    script(src="stickynavpage.js")


