.navblack{   
.navbar{
    background-color: black !important;
    color: aliceblue;
    height: 30px;

.navbar-nav{
    padding-left: 7.7vw;
    padding-right: 9.9vw;
}

.navbar-nav > li > a {
    font-size: 12px;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    text-align: center;
    width: 150px;
}
#navbarDropdownMenuLink.nav-link.dropdown-toggle{
    width: 200px;
}

.navbar-nav > li > a:hover{
    background-color: #009adf;
}
.login{
    background-color: #009adf;
}
}
}