.navblack.d-none.d-md-block
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    a.navbar-brand(href='#24') 
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.dropdown.active
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#25', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Other sites: Individual investors
          .dropdown-menu(aria-labelledby='navbarDropdownMenu')
            H1 HELLO
      ul.nav.navbar-nav.ml-auto.w-100.justify-content-end.right-flex
        li.nav-item.active.span.border.border-white
          a.nav-link(href='#20') Contact us
          |
          |
        li.nav-item.active.span.border.border-white
          a.nav-link(href='#21') Preference
          |
          |
        li.nav-item.active.span.border.border-white.login
          a.nav-link(href='#22') Login