.testimony
        .row.testimony__center
            .col-lg-6.col-md-5.col-sm-5.testimony__content
                h2.testimony__benny Benny
                    br
                    | Benny
                p.testimony__para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores explicabo natus ad adipisci cum at accusamus totam animi exercitationem ipsa sunt delectus numquam omnis porro deserunt odit, molestias aperiam dolores?
                img(src="../sign.png")
            .col-lg-6.col-md-5.col-sm-5.testimony__image
                img.img-fluid.testimony__img(src="../blackman.JPG",alt="blackman image")