.solutions
    article.solutions__article
        | Solid and usable solutions for
        br
        | home and business 
        br
        | architecture. 
    .row.solutions__list
        .col.solutions__items
            img(src="../mouseptr1.jpg",alt="#1")
            p Lorem ipsum dolor  Minima enim accusantium ab consequatur.
        .col.solutions__items
            img(src="../hourglass.jpg",alt="#2")
            p Lorem ipsum Minima sit emit enim accusantium consequatur.
        .col.solutions__items
            img(src="../mouseptr2.jpg",alt="#3")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. 