footer.footer
    .footer__footer1
        .footer__footer1__list.block
            ol
                li Largest by assets, according to the 1Q 2018 529 College Savings Quarterly Data Update from Strategic Insight.
                li As of September 30, 2018, CollegeAmerica AUM is $60B.
                li Number of accounts as of September 30, 2018, Strategic Insight.
                li CollegeAmerica has some of the lowest expenses in the 529 industry, according to Morningstar's "529 College-Savings Plan Landscape," May 2016.
                br
                br
                br
            article
                span Investments are not FDIC-insured, nor are they deposits of or guaranteed by a bank or any other entity, so they may lose value.
                    br
                    p Investors should carefully consider investment objectives, risks, charges and expenses. This and other important information is contained in the fund 
                    a(href="#33") CollegeAmerica Program Description
                    | , which can be obtained from a financial professional and should be read carefully before investing. CollegeAmerica is distributed by American Funds Distributors, Inc. and sold through unaffiliated intermediaries. 
                    br
                    p Depending on your state of residence, there may be an in-state plan that provides state tax and other state benefits, such as financial aid, scholarship funds and protection from creditors, not available through CollegeAmerica. 
                
                |Before investing in any state's 529 plan, investors should consult a tax advisor. 
                p If withdrawals from 529 plans are used for purposes other than qualified education expenses, the earnings will be subject to a 10% federal tax penalty in addition to federal and, if applicable, state income tax. State tax treatment of K-12 withdrawals varies. Please consult your tax advisor for state-specific details.
                p American Funds Distributors, Inc., member FINRA.
                p This content, developed by Capital Group, home of American Funds, should not be used as a primary basis for investment decisions and is not intended to serve as impartial investment or fiduciary advice.
                p Statements attributed to an individual represent the opinions of that individual as of the date published and do not necessarily reflect the opinions of Capital Group or its affiliates. This information is intended to highlight issues and should not be considered advice, an endorsement or a recommendation. 
    .footer__footer2
        .footer__footer2__list.block
            ul
                li 
                    span STAY CONNECTED:
                    br
                li 
                    a(href="#35") Contact Us
                li
                    ul
                        li 
                            span Follow Us
                        li
                            a(href="#36")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/linkedin.png", alt="linkdn link")
                        li
                            a(href="#37")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/twitter.png", alt="twitter link")
                        li
                            a(href="#38")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/facebook.png", alt="facebook link")
                        li
                            a(href="#39")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/youtube.png", alt="youtube link")
                        li
                            a(href="#40")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/instagram.png", alt="instagram link")
            ul
                li 
                    span ABOUT AMERICAN FUNDS:
                    br
                li
                    a(href="#42") News
                li
                    a(href="#43") Security
                li
                    a(href="#44") Policies
                li
                    a(href="#45") Media Relations
                li
                    a(href="#46") Careers
    .footer__footer3
        .footer__footer3__import
            .d-block.d-md-none  
                include ../../components/accordion/accordion.pug
        .footer__footer3__list.block.d-none.d-md-flex
            ul.first
                li MY ACCOUNTS
                li
                    a(href="#47")  View Portfolio
                li
                    a(href="#48") Portfolio Value History
                li
                    a(href="#49") Statements & Tax Forms
                li
                    a(href="#50") Sign Up for Paperless Delivery of Documents
            ul
                li INVESTMENTS
                li
                    a(href="#51") All American Funds
                li
                    a(href="#52") Compare Funds
                li
                    a(href="#53") Prospectuses & Annual Reports
            ul
                li INSIGHTS
                li
                    a(href="#57") Investment Insights
            ul
                li PRODUCTS
                li
                    a(href="#59") Traditional and Roth IRAs
                li
                    a(href="#60") SIMPLE IRAs
                li
                    a(href="#61") 401(k) Plans
                li
                    a(href="#62") CollegeAmerica® 529 Plans
                li
                    a(href="#63") Portfolio Series
            ul
                li PLANNING
                li
                    a(href="#64") Tools & Calculators
                li
                    a(href="#65") Mutual Fund Basics
                li
                    a(href="#67") Creating a Financial Plan
                li
                    a(href="#65") Retirement Planning
                li
                    a(href="#66") College Savings
                li
                    a(href="#67") Market Fluctuations
            ul
                li SERVICE & SUPPORT
                li
                    a(href="#68") Tax Center
                li
                    a(href="#71") How to Use Your Account
                li
                    a(href="#69") Changing Your Preferences
                li
                    a(href="#72") Contact Us
    .footer__footer4
        .footer__footer4__list
            ul.footer__footer4__list__brand
                li 
                    a(href="#73") Copyright © 
                    | 2019 Capital Group. All rights reserved.
                li Securities offered through American Funds Distributors, Inc.


                li 
                    a(href="#74") AdChoices
            ul.footer__footer4__list__active
                li
                    a(href="#75") PRIVACY 
                li
                    a(href="#76") Account Agreement 
                li
                    a(href="#80") Business Continuity
                li
                    a(href="#81")  Capital Group Worldwide
            


