.footer{


    span{
        font-weight: bold;
    }    
    a{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
    .block{
        justify-content: center;
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;
    }

    &__footer1{
      
      background-color: #F2F2F2;  
    
      &__list{
        padding-top: 26px;
        padding-bottom: 100px;
        padding-left: 14px;
        ol{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding-left: 3px;
            li{
            font-size: .98em;
            color: #333333;
            padding: 10px 0px;
            }
        }
        article{
            border-top-style: solid;
            border-top: 2px;
            border-color: #999999;
            color:#666666;
            span{
                border-top-style: solid;
                border-top: 2px;
                 border-color: #999999;
                
                font-weight: bold;
            }   font-size: 1.1em;
        }
      }
      @media (max-width:768px) {
        background-color: white; 
        &__list{
            padding-bottom: 20px;
        ol{
            li{
                font-size: .8rem;
            }
        }
        article{
            padding-left: 20px;
            padding-right: 20px;
            font-size: .9rem
        }
    }
      }

    }

    &__footer2{
        background-color:#E5E5E5;
        &__list{
           
            padding: 20px;
            margin-left: 20px;
            ul{
            display:inline-block;
            li{ 
                font-size: 0.9em;
                padding: 5px;
                display: inline-block;
            }
        }  }
        @media (max-width: 768px){

            &__list{
           
                padding: 2px;
                margin-left: 0px;
                ul{
                padding-left: 10px;
                display:inline-block;
                li{ 
                    font-size: 0.9em;
                    padding: 1px;
                    display: inline-block;
                }
            }  }   
        }
    }

    &__footer3{
        background-color:#999999; 
        &__list{
            padding-top: 20px;
            max-width: 1000px;
            margin: auto;
            display: flex;
            ul{
                color: white;
                font-weight: bold;
                padding-left: 25px;
                font-size: .9rem;

                li{
                    font-weight: inherit;
                    padding: 5px;
                    a{  
                        font-weight: 500;
                        color:white;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
                @media (max-width: 1025px){
                    ul{
                        font-size: .9rem;
                        padding-left: 5px;
                        a{
                            font-size: inherit;
                        }
                    }
                }
            }
            ul.first{
                padding-left: 20px;
            }
        }
    }

    &__footer4{
        background-color: rgb(229, 229, 229);
        &__list{
            max-width: 1000px;
            margin: auto;
            padding-top: 33px;
            color: rgb(51, 51, 51);
            display: flex;
            &__active{
                margin: 0px;
                li{
                    display: inline-block;
                }
            }
            ul {
                li{
                    padding-right: 10px;
                    font-size: .8rem;
                }
            }
            &__first{
                li{
                    font-size: .7rem;
                    padding-bottom: 40px;
                    }
                }
            }
            @media (max-width: 768px){
                &__list{
                    &__brand{
                        padding-left:20px;
                    }
                    &__active{
                        padding-left: 20px;
                        padding-bottom: 40px;
                    }
                    display: block;
                    li{
                        padding-bottom: 0px;
                    }
                }
            }
        }
}


