
/* sticky styling*/

.stickyy{
a.nav-link {
    height: 100%;
    padding: 30px;
    color: #fff;
    text-align: left;
    font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
    font-size: 22px;
}
.span{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.container{
    padding: 0px;
    background: white;
    height: 110px;
    max-height: 110px;
  }
  .first {
    background: #00AEAA; 
    color: #fff;
  }
  
  .second {
    background: #00294B;
  }
  
  .third {
    background: #0099E2;
  }
  .col{
    padding-left: 0!important;
    padding-right: 0;
    display: inline-block;
    height: 110px;
    max-height: 110px;
}
.row{
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px;
    text-align: center;
}

@media (max-width: 1160px){
    .container{
        max-width:1160px;
    }

    a.nav-link {
        height: 100%;
        padding: 20px;
        padding-left: 30px;
        color: #fff;
        text-align: center;
        font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
        font-size: 15px;
    }
   
}
@media (max-width: 560px){
    a.nav-link {
        padding-top: 40px;
    }



}
@media (min-width: 1160px){
    .container{
        max-width:100%;
    }
    p.d-none.d-sm-block{
        font-size: 16px;
    }
}}