

//div(data-spy='scroll', data-target='#example', data-offset='0')

.stickyy.sticky-top
  .container.fullwidth.text-center.sticky-top
      .row.text-center
        .col
          a.nav-link.first(href='#learn')
            span.title LEARN
            br
            p.d-none.d-sm-block Based on your life stage
        .col
          a.nav-link.second(href='#plan')
            span.title PLAN
            br
            p.d-none.d-sm-block Using our calculators
        .col
          a.nav-link.third(href='#choose')
            span.title CHOOSE
            br
            p.d-none.d-sm-block CollegeAmerica
