
//div(data-spy='scroll', data-target='#navbar-example2', data-offset='0')

.bar.sticky-top
  ul.nav.row.justify-content-center
    li.nav-item.col
      a.nav-link.disabled(href='#')
        .py-4.new
    li.nav-item.col-2
      a.nav-link.first(href='#')
        .py-4.new
          span.title LEARN
          p.subtitle.d-none.d-sm-block  Based on your life stage
    li.nav-item.col-2
        a.nav-link.second(href='#')
          .py-4.new
            span.title PLAN
            p.subtitle.d-none.d-sm-block  Using our calculators
    li.nav-item.col-2
      a.nav-link.third(href='#')
        .py-4.new
          span.title CHOOSE
          p.subtitle.d-none.d-sm-block CollegeAmerica
    li.nav-item.col
      a.nav-link.disabled(href='#')
        .py-4.new

div(data-spy='scroll', data-target='#navbar-example2', data-offset='0')